div p.firstpar {
  margin-top: 0;
  font-size: 18px;
  
}
div p.nextpar {
  margin-top: -1em;
  font-size: 14px;
  color: green;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.bar {
  background-color: #f8f8f8;
  width: 100%;
  border: 1px solid #ccc;
}

.right {
  float: right;
  margin-right: 12px;
}

.center {
  width: 100%;
  text-align: center;
}

.left {
  width: 100%;
  text-align: left;
  margin: 4px 12px;
}

input[type=text] {
  width: 33%;
  box-sizing: border-box;
  border: 3px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  padding: 12px 12px 12px 12px;
}

input[type=text]:hover, input[type=text]:focus {
  border: 3px solid #555;
}

input[type=button], input[type=submit] {
  display: inline-block;
  border-radius: 4px;
  background-color: #e7e7e7;
  color: #595959;
  border: 1px solid #e7e7e7;
  font-size: 16px;
  padding: 12px 22px;
  margin: 4px 8px;
  font-weight: bold;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

input[type=button], input[type=submit]:hover {
  background-color: #f2f2f2;
  color: #333333;
  border: 1px solid #595959;
}

th, td {
	padding: 10px;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: blue;
  float: left;
  padding: 8px 8px;
  text-decoration: none;
  border-radius: 2px
}

.pagination a.active {
  color: black;
  text-decoration: underline
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
